Login
<form action="/login" method="POST">
  <div>
    <label>email</label>
    <input type="email" name="email" required/>
  </div>
  <div>
    <label>password</label>
    <input type="password" name="password" required/>
  </div>
  <button>Login</button>
</form>
<a href="/register">Register</a>

